<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Arthur's Mongo Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="btn btn-danger scrape-new">Scrape New Articles</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="backgroung-image">
    </div>
    <div class="caption">
        <h1>Arthur's Mongo Scraper</h1>
        <p>Arthur Bugle Edition</p>
    </div>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
    <div class="container">
        <p>Arthur Bugle Mongo Scraper</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="../..assets/javascript/index.js"></script>